@import '../../variables';
@import '../../mixins';

.excel__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input {
    margin: 0;
    padding: 2px 7px;
    color: black;
    min-width: 1px;
    border: 2px solid transparent;
    border-radius: 2px;
    height: 20px;
    font-size: 18px;
    line-height: 22px;
    outline: none;
    box-sizing: content-box;
    &:hover {
      border: 2px solid $border-color;
    }

    &:focus {
      border: 2px solid green;
    }
  }
  .button {
    @include button(green);
  }
}
