@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~normalize.css';

@import './components/excel/header';
@import './components/excel/formula';
@import './components/excel/toolbar';
@import './components/excel/table';
@import './components/dashboard/index';
@import './components/loader';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: 0.8rem;
}
